header {
    background-color: #000 !important;
    /* ヘッダーの背景を黒に設定 */
    color: #fff;
    /* テキストを白に設定 */
    padding: 10px 0;
}

header a {
    color: #fff !important;
    /* ヘッダー内リンクの色を白に設定 */
    text-decoration: none;
    /* リンク下線を削除 */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    color: #f15b5b;
}

.container {
    margin-top: 20px;
    /* background-color: #000 !important; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.navbar {
    padding: 10px;
    background-color: #000 !important;
    /* max-width: 1200px; */
}


.btn-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.text-danger {
    color: #f15b5b !important;
}

.logout {
    display: flex;
    justify-content: space-between;  
}

.btn btn-sell {
    
}