.container {  
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    /* 画像と詳細情報の間隔 */
    margin-top: 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details-container {
    flex: 2;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}


.details-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.details-container p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.details-container .price {
    font-size: 20px;
    font-weight: bold;
    color: #f15b5b;
    margin-bottom: 20px;
}

.details-container .purchase-button {
    display: inline-block;
    background-color: #f15b5b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.details-container .purchase-button:hover {
    background-color: #e04a4a;
}

.comments-section {
    margin-top: 20px;
}

.comments-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comments-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comments-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.comments-section button:hover {
    background-color: #0056b3;
}