.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
    /* ヘッダー高さ分の余白を追加 */
}

.row.mb-4 {
    display: flex;
    justify-content: space-between;
    /* 左右に余裕を持たせる */
    align-items: center;
    margin-bottom: 20px;
   
    margin-top: 70px;
}

.item img {
    max-width: 90%;

    height: 90px;
        /* 現在のサイズより小さくする */
    /* height: auto; */
    /* margin-bottom: 10px; */
    border-radius: 5px;
    object-fit: cover;
}


.item {
    border: 1px solid #ddd;
    padding: 10px;
    /* 内側の余白を少なくする */
    border-radius: 8px;
    width: 150px;
    /* 現在280px → 小さく調整 */
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 18px;
}

.item h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.item p {
    margin-bottom: 5px;
    color: #666;
}

/* 追加 */
.item-title {
    font-size: 16px;
        /* タイトルフォントサイズを縮小 */
    /* font-size: 18px; */
    margin-bottom: 10px;
    color: #333;
}

.item-description {
    font-size: 12px;
        /* 商品説明のフォントサイズ縮小 */
    /* font-size: 14px; */
    margin-bottom: 10px;
    color: #666;
}

.item-price {
    font-size: 14px;
        /* 価格のフォントサイズを縮小 */
    /* font-size: 16px; */
    margin-bottom: 10px;
    color: #f15b5b;
}

.item-status {
    font-size: 12px;
        /* 状態のフォントサイズ縮小 */
    /* font-size: 14px; */
    /* margin-bottom: 10px; */
    color: #007bff;
}

/* .item button { */
.btn-primary {
    /* display: block;
    width: 100%;
    margin-top: 10px; */

    padding: 10px;
    font-size: 14px;

    /* color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center; */
}

.item-primary:hover {
    background-color: #0056b3;
}