.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
    /* margin-right: 20px; */
    /* 画像と詳細情報の間隔 */
}

.payment-container {
    flex: 2;
    /* padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.image-container img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}